.inboxCommentCard {
  width: 40%;
  height: auto;
  border-radius: 20px;
  border: 2px solid;
  /* box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68); */
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
}
.inboxCommentTopLeft {
  display: flex;
  align-items: center;
}

.inboxCommentProfileImg {
  /* width: 32px;
  height: 32px; */
  border-radius: 50%;
  object-fit: cover;
}

.inboxCommentUsername {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 10px;
}

.inboxCommentDate {
  font-size: 12px;
}

.inboxCommentDetails {
  padding: 10px 20px;
}