.buttonContainer{
    height: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.followerList{
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
}

.wrapper{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 50%;
}