.comments {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comments-title {
  font-size: 1.2em;
  font-weight: bold;
}

/* .comments-container {
  margin-top: 40px;
  overflow: scroll;
  height: 250px;
} */

/* .comment-form-title {
  font-size: 22px;
} */

.comment-form-button {
  border: 1px solid #9695F0;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #9695F0;
  font-weight: 500;
  cursor: pointer;
  color: white;
  /* margin-top: 20px; */
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.comment-form-button:hover{
  border: 1px solid #9695F0;
  background-color: white;
  color: #9695F0;
}
.comment-form-button:active{
  border: 1px solid #9695F0;
  background-color: white;
  color: #9695F0;
}
.comment-form-button:focus{
  border: 1px solid #9695F0;
  background-color: white;
  color: #9695F0;
}

/* .comment-form-button:hover:enabled {
  cursor: pointer;
  background: green;
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
} */

/* .comments>.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
} */