.postCard {
  width: 47.5%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-top: 5%;
  margin-left: 17%;
  margin-right: 27.5%;
  margin-bottom: 5%;
}
.card {
  position: static;
}
.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postImage {
  margin-top: 10px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postOptions {
  display: flex;
  margin-left: 20px;
}

.postOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.postIcon {
  width: 40px !important;
  margin-right: 3px;
}

.postTitle {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
}
.postDesc {
  text-align: left;
  margin-left: 10px;
  font-size: 12px;
  color: gray !important;
  font-weight: bold;
}
.postTags {
  text-align: right;
  bottom: 0;
  font-size: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
}

.postEditDelete {
  cursor: pointer;
  right: 0;
}
.text-center {
  padding-top: 7px;
}
