.createPost {
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.createPostWrapper {
  padding: 20px;
}

.createPostTop {
  display: flex;
  align-items: center;
}

.createPostProfilepic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.createPostInput {
  border: none;
  width: 80%;
}

.createPostInput:focus {
  outline: none;
}

.createPostHr {
  margin: 20px;
}

.createPostBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createPostOptions {
  display: flex;
  margin-left: 20px;
}

.createPostOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.createPostIcon {
  font-size: 18px;
  margin-right: 3px;
}

.createPostOptionText {
  font-size: 14px;
  font-weight: 500;
}

.createPostButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
