/* .createPost {
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.createPostWrapper {
  padding: 20px;
}

.createPostTop {
  display: flex;
  align-items: center;
}

.createPostProfilepic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.createPostInput {
  border: none;
  width: 80%;
}

.createPostInput:focus {
  outline: none;
}

.createPostHr {
  margin: 20px;
}

.createPostBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createPostOptions {
  display: flex;
  margin-left: 20px;
}

.createPostOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.createPostIcon {
  font-size: 18px;
  margin-right: 3px;
}

.createPostOptionText {
  font-size: 14px;
  font-weight: 500;
}

.createPostButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
 */

.createPost {
  width: 100%;
  /* margin-top: 20px; */
  /* margin-left: 25%;
  margin-right: 25%; */
}

.createPostWrapper {
  padding: 0px;
}

.createPostTop {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.createPostHead {
  font-size: 1.2em;
  font-weight: bold;
}

.createPostProfilepic {
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  object-fit: cover;
}

.createPostInput {
  border: none;
  width: 150%;
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
}

.createPostInput:focus {
  outline: none;
}

.createPostHr {
  margin: 20px;
}

.createPostBottom {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.createPostOptions {
  display: flex;
  margin-left: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.createPostOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.createPostIcon {
  font-size: 18px;
  margin-right: 3px;
}

/* .createPostOptionText {
  font-size: 14px;
  font-weight: 500;
} */

.createPostButton {
  border: 1px solid #9695F0;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #9695F0;
  font-weight: 500;
  cursor: pointer;
  color: white;
  /* margin-top: 20px; */
  width: 90%;
  margin-top: 20px;
}
.createPostButton:hover{
  border: 1px solid #9695F0;
  background-color: white;
  color: #9695F0;
}

.form-group {
  width: 90%;
  margin: 5px 0px;
}

.form-control{
  font-size: 1em;
}

.form-control:focus {
  border-color: #9695F0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #9695F0;
}
label {
  display: block;
  text-align: left;
  font-size: 1em;
}
.switch {
  min-width:5em;
}
.visibilityField {
  display: flex;
  align-items: center;
}
.chooseFriendButton {
  border-radius: 5px;
  border: 1px solid #ffca2c;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  /* margin-top: 20px; */
  margin: 0px 0px 0px 20px;
}
.chooseFriendButton:hover {
  background-color: #ffca2c;
}
/* .chooseFriendText {
  font-size: 1em;
  font-weight: 400;
} */