.popupSmallWrapper {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  justify-content: center;
  align-items: center;
}

.popupSmallInner {
  position: relative;
  padding: 32px;
  width: 100%;
  height: 350px;
  max-width: 640px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.closeSmallButton {
  position: absolute;
  top: 16px;
  right: 16px;
}
