.followCard {
  width: 40%;
  height: auto;
  border-radius: 20px;
  border: 2px solid;
  /* box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68); */
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
}
.followTopLeft {
  display: flex;
  align-items: center;
}

.followProfileImg {
  /* width: 32px;
    height: 32px; */
  border-radius: 50%;
  object-fit: cover;
}

.followUsername {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 10px;
}

.followDate {
  font-size: 12px;
}

.acceptFollowButton {
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #79E584;
  border-radius: 5px;
  padding: 4px 12px;
}
.acceptFollowButton:hover {
  background-color: #79E584;
  border: 2px solid #79E584;
}

.acceptedFollowButton {
  align-items: center;
  background-color: grey;
  pointer-events: none;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  color: black;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 4px 12px;
}
.declineFollowButton {
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 2px solid #FE3B00;
  border-radius: 5px;
  padding: 4px 12px;
}
.declineFollowButton:hover {
  background-color: #FE3B00;
  border: 2px solid #FE3B00;
}


.followDetails {
  padding: 0px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

p {
  margin-bottom: 5px;
}