.popupWrapper {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  justify-content: center;
  align-items: center;
}

.popupInner {
  position: relative;
  padding: 32px;
  width: 100%;
  height: auto;
  max-width: 640px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 25%;
  margin-bottom: 20%;
  /* z-index: 1; */
  overflow:auto;
}

.closeButton {
  position: absolute;
  
  top: 25px;
  right: 25px;
  transform: scale(1.5);
  cursor: pointer;
}

.closeButton:hover {
  color: grey;
}
.closeButton:active {
  color: black;
}