div {
  text-align: center;
}

.feedCreatePost {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.feedCreatePostIcon {
  width: 3em !important;
  align-items: center;
  height: 3em !important;
  cursor: pointer;
  align-self: center;
}

.feedNoPostMessage {
  display: flex;
  margin-top: 7%;
  align-self: center;
  flex-direction: column;
}

.feedNoPostImage {
  align-self: center;
  width: 7em !important;
  height: 7em !important;
}
.feedNoPostText {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
.feedNoPostRefresh {
  margin-top: 1%;
  align-self: center;
  width: 2em !important;
  height: 2em !important;
  cursor: pointer;
}
.paginationAndDelete{
  display: flex;
}

.FeedClearIcon{
  cursor: pointer;
  color: red;
  right:1000 px;
}

.displayFeed{
  display: flex;
}
.postSection{
  width: 100%;

}
.githubSection{
  margin-top: 5%;
  margin-left: 2%;

}
