div {
  text-align: center;
}

/* .feedCreatePost {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
} */

.feedNoPostMessage {
  display: flex;
  margin-top: 7%;
  align-self: center;
  flex-direction: column;
}

.feedNoPostImage {
  align-self: center;
  width: 7em !important;
  height: 7em !important;
}
.feedNoPostText {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.feedNoPostRefresh {
  margin-top: 1%;
  align-self: center;
  width: 2em !important;
  height: 2em !important;
  cursor: pointer;
}
.paginationAndDelete{
  display: flex;
}

.sideView {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.feedClearBtn{
  box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.68);
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  /* margin-top: 20px; */
  margin-top: 20px;
  width: 250px;
  margin-right: 7%;
  color: white;
  border: 2px solid #FE3B00;
  background-color: #FE3B00;
}
.feedClearBtn:hover {
  background-color: white;
  color: black;
  border: 2px solid #FE3B00;
}
.createPostBtn {
  box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.68);
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #9695F0;
  font-weight: 600;
  cursor: pointer;
  color: white;
  border: 2px solid #9695F0;
  /* margin-top: 20px; */
  margin-top: 20px;
  width: 250px;
  margin-right: 7%;
}
.createPostBtn:hover{
  background-color: white;
  color: black;
  border: 2px solid #9695F0;
}
.createPostBtn:focus{
  background-color: white;
  color: black;
  border: 2px solid #9695F0;
}

.displayFeed{
  display: flex;
}
.postSection{
  width: 100%;

}
.githubSection{
  margin-top: 5%;
  margin-left: 2%;

}

